.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.info {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
}

.div-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
p{
    text-align: center;
}

.custom-div-1,.custom-div-2,.custom-div-3 {
    width: calc(33.33% - 18px);
    height: 260px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-right: 10px;
    font-size:20px;


}
.custom-div-1{
    background-color: #f2d9c2;
}
.custom-div-2{
    background-color: #d1d2f6;
    background-image: url(/src/Images/Doctor-1.png);
    background-size: 250px 250px;
    background-repeat: no-repeat;

}
.custom-div-3{
    background-color: #000000;
    color:white;
}
.moods{
    align-items:center;
    justify-content: center;
    display: flex;
}
.mood-circle-1,.mood-circle-2,.mood-circle-3{
       width:50px;
       height:50px;
       border-radius:50%;
       background-color: white;
       margin-right:10px
}
.mood-circle-1{
    background-image: url(/src/Images/happy.jpg);
  background-size: 50px 50px;
    background-repeat: no-repeat;

}
.mood-circle-2{
    background-image: url(/src/Images/happy.jpg);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    
}
.mood-circle-3 {
    background-image: url(/src/Images/happy.jpg);
    background-size: 50px 50px;
    background-repeat: no-repeat;

}