.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.info {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
}

.div-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
p{
    text-align: center;
}

.custom-div-1,.custom-div-2,.custom-div-3 {
    width: calc(33.33% - 18px);
    height: 260px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-right: 10px;
    font-size:20px;
    color: black;


}
.custom-div-1 a {
    color: #3a3442;
}
.custom-div-1 {
    background-color: #B7E0D8;
    color: #3a3442;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.custom-div-2{
    background-color: #EEBC75;
    color: #3a3442;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.custom-div-3{
    background-color: #DB7671;
    color: #3a3442;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.moods{
    align-items:center;
    justify-content: center;
    display: flex;
}
.mood-circle-1,.mood-circle-2,.mood-circle-3{
       width:50px;
       height:50px;
       border-radius:50%;
       background-color: white;
       margin-right:10px
}
.mood-circle-1{
    background-image: url(/src/Images/happy.jpg);
  background-size: 50px 50px;
    background-repeat: no-repeat;

}
.mood-circle-2{
    background-image: url(/src/Images/happy.jpg);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    
}

.mood-circle-3 {
    background-image: url(/src/Images/happy.jpg);
    background-size: 50px 50px;
    background-repeat: no-repeat;


p.header-desc {
    font-size: 20px;
}

h2,h3 {
    margin: 0;

}